* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

#wrapper {
    position: relative;
    background-color: rgb(255, 197, 0);

}

#wrapper::after {
    content: "";
    position: absolute;
    top: 60px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
}

#header {
    /* position: fixed; */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: rgb(255, 197, 0);
    outline-color: rgb(255, 197, 0);
}

#header #nav {
    /* position: relative; */
    text-align: right;
}

#nav .user-management {
    position: relative;
}

#nav .login {
    position: relative;
}

#header #nav > li > a {
    color: #fff;
    padding: 0 16px;
    border-left: 1px solid #ccc;
    text-decoration: none;
    line-height: 60px;
    display: block;
}

#nav .hotline-btn:hover,
#nav .user-management-btn:hover,
#header #nav li:hover > a {
    color: rgb(0, 96, 196);
    background-color: #fff;
    cursor: pointer;
}

#logo {
    align-items: center;
    line-height: 60px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}


#nav > li {
    display: inline-block;
}

#nav .fa-solid {
    margin-right: 4px;
}

#nav .nav-user-management li a {
    display: block;
}

#nav .nav-user-management {
    text-align: left;
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    width: 360px;
    display: none;
    height: 320px;
    /* padding: 20px; */
    text-align: left;
    transform-origin: top right;
    animation: userManagement ease 0.5s;
    z-index: 1;
}

.nav-user-management .user-management-header {
    font-size: 16px;
    opacity: 0.8;
    padding: 8px;
}

#nav .user-management-btn {
    color: #000;
    border: none;
    padding: 0 16px;
    border-left: 1px solid #ccc;
    text-decoration: none;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0);
}

#nav .hotline {
    position: relative;
}

#nav .hotline-btn {
    color: #000;
    border: none;
    padding: 0 16px;
    border-left: 1px solid #ccc;
    text-decoration: none;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0);
}

#nav .hotline-header {
    font-size: 18px;
    font-weight: 600;
    color: #0771c4;
    line-height: 1.6;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

#nav .hotline-select {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 380px;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    transform-origin: top right;
    animation: userManagement ease 0.5s;
    z-index: 1;
}

#nav .hotline-sub-header {
    font-size: 14px;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 7px;
}

#nav .number-1 {
    line-height: 1.6;
    font-size: 15px;
}

#nav .number-2 {
    line-height: 1.6;
    font-size: 15px;
    padding-top: 8px;
}

#nav .hotline-select li {
    display: block;
}

.login .nav-user {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 220px;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: #fff; 
    padding: 10px;
    transform-origin: top right;
    animation: userManagement ease 0.5s;
    line-height: 1.6;
    font-size: 15px;
    z-index: 100;
}

.login .user-information-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    opacity: 0.8;
    cursor: pointer;
    margin-bottom: 5px;
}

.login .logout::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 80%;
    background-color: #ccc;
    height: 1.5px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.login .logout {
    position: relative;
    margin-top: 5px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #000;
    opacity: 0.8;
}

.user-information-btn:hover,
.logout:hover {
    color: #fff;
    background-color: #ccc; 
}

#container {
    background-color: #fff;
}

#slider {
    position: relative;
    background-color: #fff;
    height: 120px;
    display: flex;
    align-items: center;
}

#slider .content {
    
    width: 1050px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    border-radius: 5px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 99; */
}

#slider .content-select {
    
    display: flex;
    align-items: center;
    width: 88%;
    border: 1px solid #ccc;
    /* margin-right: auto; */
    /* justify-content: space-between;*/
}

#slider .fa-solid {
    width: 12%;
    font-size: 20px;
    padding-left: 10px;
}

.pick-up-location,
.drop-off-location {
    margin-left: 8px;  
    color: #000;
    width: 24%;
}

.pick-up-time,
.drop-off-time {
    margin-left: 8px;  
    color: #000;
    width: 26%;
}


.pick-up-time-input,
.drop-off-time-input {
    font-size: 18px;
    height: 56px;
    width: 100%;
    border: none;
    margin: 0 10px;
    outline: none;
    padding-left: 8px;
    z-index: -1;
}

::-webkit-calendar-picker-indicator {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    margin-right: 10px;
    line-height: 56px;
    display: block;
    filter: invert(0);
}

#slider .search-wrapper {
    background-color: rgb(248, 174, 0);
    font-size: 20px;
    text-align: center;
    align-items: center;
    line-height: 56px;
    width: 12%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#do,
#pu {
    border: none;
    height: 56px;
    width: 75%;
    outline: none;
    margin: 0 10px;
    font-size: 18px;
    padding-left: 8px;
    cursor: pointer;
    z-index: -1;
}

#slider .search {
    background-color: rgb(255, 197, 0);
    width: 100%;
    border: none;
    display: block;
    padding: 12px 0;
    line-height: 56px;
    height: 56px;
    text-decoration: none;
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 1.6;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#slider .search:hover {
    background-color: rgb(248, 174, 0);
}

#container-body {
    display: flex;
    background-color: #fff;
    /* border-top: 1px solid #ccc; */
    margin: 20px 80px 0 80px;
    line-height: 1.5;
}

#container-body .container-body-category {
    width: 20%;
    margin-right: 20px;
    /* border-right: 1px solid red; */
}

#container-body .container-body-category-header {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 10px;
}

#container-body .category-select-header {
    display: block;
    padding-bottom: 6px;
    cursor: pointer;
}

#container-body .category-select-box {
    padding-bottom: 6px;
    display: none;
}

#container-body .category-select input{
    margin-right: 6px;
}

#container-body .category-select {
    display: block;
    cursor: pointer;
}

#container-body .fa-filter {
    font-size: 16px;
    padding-right: 4px;
}

#container-body .fa-sort-down {
    margin-left: 4px;
    font-size: 16px;
    bottom: 3px;
    line-height: 16px;
    transform: translateY(-2px);
}

#container-body .fa-sort-down.close {
    display: none;
}

#container-body .fa-sort-up {
    margin-left: 4px;
    transform: translateY(6px);
    display: none;
}

#container-body .fa-sort-up.open {
    display: inline-block;
}

#container-body .category-select-header {
    font-size: 16px;
}

#container-body .category-search-btn {
    float: left;
    margin: 10px 0;
    color: #fff;
    padding: 6px;
    background-color: #00874d;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#container-body .list-car {
    width: 80%;
    /* overflow: auto; */
}

#container-body .list-car-header {
    font-size: 18px;
    margin-bottom: 10px;
}

#container-body .list-car-select {
    display: flex;
    font-size: 17px;
    line-height: 1.6;
}

#container-body .list-car-select:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

#container-body .list-car-select img {
    width: 24%;
    object-fit: contain;
}

.list-car-select .car-information {
    width: 60%;
    margin: 6px 0 6px 20px;
}

.list-car-select .car-brand {
    font-size: 18px;
    font-weight: 600;
}

.list-car-select .car-seat {
    margin-right: 40px;
}

.list-car-select .car-gearbox {
    display: block;
}

.list-car-select .book {
    float: right;
    margin: 6px 0 10px 0;
    color: #fff;
    padding: 10px;
    background-color: #00874d;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.list-car-select .book:hover {
    background-color: #006e3e;
}

.user-information-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.user-information-modal.open {
    display: flex;
}

.user-information-modal .container {
    position: relative;
    width: 450px;
    max-width: calc(100% - 32px);
    min-height: 170px;
    background-color: #fff;
    animation: show_register ease 0.4s;
}

.user-information-modal .user-information-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 8px;
    color: #000;
    cursor: pointer;
}

.user-information-modal .user-information-close:hover {
    color: #0064c8;
}

.user-information-modal .user-information-header {
    height: 44px;
    background-image: linear-gradient(90deg, #fff,rgb(248, 174, 0));
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    color: #0064c8;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.user-information-modal .user-information-body {
    padding: 15px;
    font-size: 17px;
    line-height: 1.6;
}

.user-information-modal .user-information-input {
    outline: none;
    border: none;
    background-color: #fff;
}

.user-information-modal .edit-user-phone {
    float: right;
    background-color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.user-information-modal .fa-pen {
    display: none;
    margin-right: 4px;
    font-size: 14px;
}

.user-information-modal .fa-pen.open {
    display: inline-block;
}

.user-information-modal .accept {
    padding: 6px;
    float: right;
    color: #fff;
    /* background-color: #0064c8; */
    background-color: #00874d;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin: 10px 0 16px 0;
}

.user-information-modal .accept:hover {
    background-color: #006e3e;
}

.user-phone-edit-box {
    padding: 8px;
    /* background-color: #ccc; */
    /* margin-bottom: 8px; */
}

.user-new-phone {
    /* background-color: #000; */
    width: 100%;
    /* min-height: 30px; */
    display: none;
    float: right;
}

.user-new-phone .user-new-phone-input {
    outline: none;
    padding: 2px;
    font-size: 14px;
    /* display: block; */
}

.wrapper-input {
    margin-bottom: 8px;
    display: inline-block;
}

.user-new-phone .accept-edit {
    /* float: inline; */
    padding: 4px;
    color: #fff;
    background-color: #00874d;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* display: inline-block; */
}

.user-Id-box {
    padding: 8px;
}

@keyframes userManagement {
    from {
        transform: scale(0.4);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes show_register {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}